<launch>
  <rosparam command="load" file="$(find winter_project)/config/control.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="jackal_joint_publisher jackal_velocity_controller" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find winter_project)/config/robot_localization.yaml" />
  </node>

  <!-- The twist_mux is added by the Jackal developer in recent commits. This will have conflicts with twist_mux.launch -->
  <!-- <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <rosparam command="load" file="$(find jackal_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="jackal_velocity_controller/cmd_vel"/>
  </node> -->

  <!-- Relay the output topic from twist_mux to the Gazebo topic -->
  <node pkg="topic_tools" type="relay" name="cmd_vel_relay"
        args="cmd_vel/mux jackal_velocity_controller/cmd_vel" />

</launch>
