<launch>

    <node name="pcl_body_tracking" pkg="lidar_body_tracking" type="pcl_body_tracking" output="screen">
        <param name="scan_topic" value="/velodyne_points"/>
        <param name="filtered_topic" value="/tracking/pcl_filtered"/>
        <param name="clustered_topic" value="/tracking/pcl_clustered"/>
        <param name="person_topic" value="abcdefg"/>
    </node>

</launch>
