<launch>
  <arg name="joy_vel_in"  default="input_joy/cmd_vel"/>
  <arg name="joy_vel_out" default="joy_vel"/>

  <!-- The output topic of twist_mux -->
  <arg name="cmd_vel_out" default="cmd_vel/mux"/>

  <!-- Changed the priority of different types of control method -->
  <arg name="config_locks"  default="$(find winter_project)/config/twist_mux_locks.yaml"/>
  <arg name="config_topics" default="$(find winter_project)/config/twist_mux_topics.yaml"/>
  <arg name="config_joy" default="$(find winter_project)/config/joystick.yaml"/>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <remap from="cmd_vel_out" to="$(arg cmd_vel_out)"/>

    <rosparam file="$(arg config_locks)"  command="load"/>
    <rosparam file="$(arg config_topics)" command="load"/>
  </node>
</launch>
