<launch>

    <!-- Launch rviz -->
    <param name="use_gui" value="true"/>
    <arg name="config" default="real" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find winter_project)/rviz/$(arg config).rviz" />

    <include file="$(find winter_project)/launch/include/hdl_people_tracking.launch" />

</launch>
