<launch>

    <!-- Launch Point Cloud tools to filter the original Velodyne data and feed into gmapping -->
    <include file="$(find winter_project)/launch/include/pointcloud_filter.launch" />

    <!-- Launch gmapping and move_base for SLAM and navigation -->
    <include file="$(find winter_project)/launch/include/gmapping.launch" />
    <include file="$(find winter_project)/launch/include/move_base.launch" />

</launch>
